<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<!-- 常量数据-->
	<bean id="appContext" class="com.jl.common.ApplicationContext">

		<!-- 日志字段映射 -->
		<property name="logField">
			<map>
				<entry key="method" value="方法" />
				<entry key="id" value="编号" />
				
				<!-- 程序内部方法 需要过滤 -->
				<entry key="JavaMethod" value="内部方法"></entry>
				
			</map>
		</property>

	</bean>

</beans>
