<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<filter>
		<filter-name>ssofilter</filter-name>
		<filter-class>oe.security3a.sso.SsoFilter</filter-class>
		<init-param>
			<param-name>AbortUrls</param-name>
			<param-value>/syscUser,/dataOuterBk.jsp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ssofilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>logoutsvl</servlet-name>
		<servlet-class>
			oe.security3a.sso.listener.LogoutSvl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoutsvl</servlet-name>
		<url-pattern>/logoutsvl</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
			This is the description of my J2EE component
		</description>
		<display-name>
			This is the display name of my J2EE component
		</display-name>
		<servlet-name>worklist</servlet-name>
		<servlet-class>oe.common.web.Worklist</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>worklist</servlet-name>
		<url-pattern>/worklist</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/worklist</welcome-file>
	</welcome-file-list>


</web-app>
