.OecWizBannerColor
{
     background-color: #FFFFFF;
}
.OecWizBannerLogo
{
     background-image:url(/images/logo.gif);
}
.OecWizBannerTitle
{
     font-family: Arial, Helvetica, Geneva, sans-serif;
     font-size: 16pt;
     color: #FFFFFF;
     font-weight: bold ;
}
.OecWizBannerLink
{
     font-family: Arial, Helvetica, Geneva, sans-serif;
     font-size: 8pt;
     color: #663300;
}
.OecWizPageColor
{
     background-color: #FFFFFF;
}
.OecBgColorDark
{
     background-color: #336699;
}
.OecGlobalPageTitle
{
     font-family: Arial, Helvetica, Geneva, sans-serif;
     font-size: 11pt;
     color: #FFFFFF;
     font-weight: bold ;
}
.OecBgColorDark1
{
     background-color: #336699;
}
.OecNav1Selected
{
     font-family: Arial, Helvetica, Geneva, sans-serif;
     font-size: 11pt;
     color: #99CCFF;
     font-weight: bold ;
}
.OecBGAccentDark
{
     background-color: #CCCC99;
     height:100
}
.OecNav1Enabled
{
     font-family: Arial, Helvetica, Geneva, sans-serif;
     font-size: 11pt;
     color: #003366;
     text-decOection: none;
}
.OecHeaderSub
{
     font-family: Arial, Helvetica, Geneva, sans-serif;
     font-size: 13pt;
     color: #336699;
     font-weight: bold ;
}
.OecHeaderSubSub
{
     font-family: Arial, Helvetica, Geneva, sans-serif;
     font-size: 11pt;
     color: #336699;
     font-weight: bold ;
}
.OecInstructionText
{
     font-family: Arial, Helvetica, Geneva, sans-serif;
     font-size: 10pt;
     color: #000000;
}
.OecInlineInfo
{
     font-family: Arial, Helvetica, Geneva, sans-serif;
     font-size: 8pt;
     color: #336699;
}
.OecFieldText
{
     font-family: Arial, Helvetica, Geneva, sans-serif;
     font-size: 10pt;
     color: #000000;
}
.OecInlineInfo2
{
     font-family: Arial, Helvetica, Geneva, sans-serif;
     font-size: 8pt;
     color: #336699;
     font-weight: bold ;
}
.OecCopyright
{
     font-family: Arial, Helvetica, Geneva, sans-serif;
     font-size: 8pt;
     color: #000000;
}
.OecPrivacy
{
     font-family: Arial, Helvetica, Geneva, sans-serif;
     font-size: 8pt;
     color: #663300;
}
.OecErrorHeader
{
     font-family: Arial, Helvetica, Geneva, sans-serif;
     font-size: 11pt;
     color: #CC0000;
     font-weight: bold ;
}
.OecErrorText
{
     font-family: Arial, Helvetica, Geneva, sans-serif;
     font-size: 10pt;
     color: #000000;
}
.EditRegionBorder { border : #CCCC99  1px solid ; } 
