
/**--×ó²àµ¼º½--*/
.accordion{
	background:#000;
	overflow:hidden;
}
.accordion .accordion-header{
	background:#303030;
}

.accordion-collapse{
	background:url('images/collapse.gif') no-repeat;
	margin-top: 5px;
}
.accordion-expand{
	background:url('images/expand.gif') no-repeat;
	margin-top: 5px;
}
/**-×ó²à±ß¿ò-*/
.layout-panel-west{
	border-right:5px solid #6D6D6D;
	border-left:5px solid #6D6D6D;
}
.layout-split-west{

}
.layout-button-left{
	background:url('images/layout_button_left.gif') no-repeat;
}
.layout-button-right{
	background:url('images/layout_button_right.gif') no-repeat;
}
.layout-expand{
	position:absolute;
	padding:0px 5px;
	padding:0px;
	background:#212121;
	font-size:1px;
	cursor:pointer;
	z-index:1;
}
/**--Ê÷½Úµã--*/
.tree-folder{
	display:inline-block;
	/*background:url('images/tree_folder.gif') no-repeat;*/
	width:16px;
	height:18px;
	vertical-align:middle;
	
}
.tree-folder-open{
	/*background:url('images/tree_folder_open.gif') no-repeat;*/
}
.tree-file{
	display:inline-block;
	background:url('images/tree_leaf.gif') no-repeat;
	width:16px;
	height:18px;
	vertical-align:middle;
}
.tree-node-hover{
	background-color:#eee;
}
.tree-node-selected{
	background-color:#F4E4A4;
}


/**--ÓÒ²àpanel--*/

.panel-header{
	padding:5px;
	line-height:15px;
	color: #EEEEF0;
	font-weight:bold;
	font-size:12px;
	background:url('images/panel_title.png') repeat-x;
	position:relative;
	border:1px solid #000000;
}
.panel-header-noborder{
	border-width:0px;
	border-bottom:1px solid #000000;
}
.panel-body{
	overflow:auto;
	border:1px solid #000000;
	border-top-width:0px;
}

/****----µ×²¿-----*/
.foot{
 background:#2E2E2E;
 color: #EEEEF0;
 font-weight: bold;
}
/***--Ñ¡Ôñ¿ò -----*/
.combo{
	display:inline-block;
	white-space:nowrap;
	font-size:12px;
	margin:0;
	padding:0;
	border:1px solid #2A2A2A;
}
.combo-text{
	font-size:12px;
	border:0px;
	line-height:22px;
	height:20px;
	padding:0px;
	*height:18px;
	*line-height:18px;
	_height:18px;
	_line-height:18px;
	padding-left:5px;
	
}
.combo-arrow{
	/*background:#E0ECF9 url('images/combo_arrow.gif') no-repeat 3px 4px;*/
	background:transparent url(images/trigger.gif) no-repeat 0 0;
	width:17px;
	height:19px;
}
.combo-arrow-hover{
	background-position:-17px 0;
}
.combo-panel{
	background:#fff;
	overflow:auto;
}
.combobox-item-hover{
	background:#fafafa;
	cursor:pointer;
}
.combobox-item-selected{
	background:#FFF6D9;
}