/* CSS Document */

<!--
.STYLE2 {color: #000000}
.STYLE10 {font-family: "ו"; font-size: 13px; }
.STYLE12 {color: #FF0000}
.STYLE15 {color: #CCFFFF}
.STYLE16 {color: #FF3300}
.STYLE22 {font-size: 12; }
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->


