<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
    <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MyframeSvl</servlet-name>
    <servlet-class>oe.mid.netone.web.MyframeSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ModulearticleSvl</servlet-name>
    <servlet-class>oe.mid.netone.web.ModulearticleSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>workflowSvl</servlet-name>
    <servlet-class>oe.mid.netone.web.workflowSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>worklistSvl</servlet-name>
    <servlet-class>oe.mid.netone.web.worklistSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>workcountSvl</servlet-name>
    <servlet-class>oe.mid.netone.web.workcountSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Photograph</servlet-name>
    <servlet-class>oe.mid.netone.web.Photograph</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryTime</servlet-name>
    <servlet-class>oe.mid.netone.web.QueryTime</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadFileAction</servlet-name>
    <servlet-class>oe.mid.netone.web.UploadFileAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DyformTestSvl</servlet-name>
    <servlet-class>oe.mid.netone.web.DyformTestSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DyformQuery</servlet-name>
    <servlet-class>oe.mid.netone.web.DyformQuery</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PhUploadimageAction</servlet-name>
    <servlet-class>oe.mid.netone.flex.PhUploadimageAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PhConfigService</servlet-name>
    <servlet-class>oe.mid.netone.flex.PhConfigService</servlet-class>
  </servlet>
   <servlet>
     <servlet-name>AddSvl</servlet-name>
    <servlet-class>oe.mid.netone.dyfrom.AddSvl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerySvl</servlet-name>
    <servlet-class>oe.mid.netone.dyfrom.QuerySvl</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>UpdataSvl</servlet-name>
    <servlet-class>oe.mid.netone.dyfrom.UpdataSvl</servlet-class>
  </servlet>
  <servlet>
   <servlet-name>DeleteSvl</servlet-name>
    <servlet-class>oe.mid.netone.dyfrom.DeleteSvl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListingData</servlet-name>
    <servlet-class>oe.mid.netone.dyfrom.ListingData</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>Queryform</servlet-name>
    <servlet-class>oe.mid.netone.dyfrom.Queryform</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ConfigurationAction</servlet-name>
    <servlet-class>oe.mid.netone.web.ConfigurationAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteFileAction</servlet-name>
    <servlet-class>oe.mid.netone.web.DeleteFileAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DownLoadFileAction</servlet-name>
    <servlet-class>oe.mid.netone.web.DownLoadFileAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NumberFileAction</servlet-name>
    <servlet-class>oe.mid.netone.web.NumberFileAction</servlet-class>
  </servlet>

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Allimage</servlet-name>
    <servlet-class>oe.mid.netone.web.Allimage</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Personnel</servlet-name>
    <servlet-class>oe.mid.netone.web.Personnel</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SoleRegister</servlet-name>
    <servlet-class>oe.mid.netone.moblie.SoleRegister</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegeditMvl</servlet-name>
    <servlet-class>oe.mid.netone.moblie.RegeditMvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginMvl</servlet-name>
    <servlet-class>oe.mid.netone.moblie.LoginMvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Querybranch</servlet-name>
    <servlet-class>oe.mid.netone.dyfrom.Querybranch</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Querybranchlisting</servlet-name>
    <servlet-class>oe.mid.netone.web.Querybranchlisting</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ListNextRouteActive</servlet-name>
    <servlet-class>oe.mid.netone.web.ListNextRouteActive</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ListNextBackActive</servlet-name>
    <servlet-class>oe.mid.netone.web.ListNextBackActive</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoadCfgActive</servlet-name>
    <servlet-class>oe.mid.netone.web.LoadCfgActive</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SaveAuditNote</servlet-name>
    <servlet-class>oe.mid.netone.web.SaveAuditNote</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NextByManual</servlet-name>
    <servlet-class>oe.mid.netone.web.NextByManual</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GisPointSvl</servlet-name>
    <servlet-class>oe.mid.netone.web.GisPointSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AllUserSvl</servlet-name>
    <servlet-class>oe.mid.netone.web.AllUserSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LhTodaySvl</servlet-name>
    <servlet-class>oe.mid.netone.web.LhTodaySvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ListPicSvl</servlet-name>
    <servlet-class>oe.mid.netone.web.ListPicSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DyViewSvl</servlet-name>
    <servlet-class>oe.mid.netone.dyfrom.DyViewSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WapViewSvl</servlet-name>
    <servlet-class>oe.mid.netone.dyfrom.WapViewSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WapViewSingleSvl</servlet-name>
    <servlet-class>oe.mid.netone.dyfrom.WapViewSingleSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HealthSvl</servlet-name>
    <servlet-class>oe.mid.netone.other.HealthSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MyGroupSvl</servlet-name>
    <servlet-class>oe.mid.netone.moblie.MyGroupSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeptSvl</servlet-name>
    <servlet-class>oe.mid.netone.msg.DeptSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MsgBodySvl</servlet-name>
    <servlet-class>oe.mid.netone.msg.MsgBodySvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MsgSvl</servlet-name>
    <servlet-class>oe.mid.netone.msg.MsgSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MsgTipSvl</servlet-name>
    <servlet-class>oe.mid.netone.msg.MsgTipSvl</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>HealthSvl</servlet-name>
    <url-pattern>/HealthSvl</url-pattern>
  </servlet-mapping>















 




 
    <!-- json 手机上使用的 我的代办-->
  <servlet-mapping>
    <servlet-name>MyframeSvl</servlet-name>
    <url-pattern>/myframeSvl</url-pattern>
  </servlet-mapping>
   <!-- json 手机上使用的 文章频道-->
  <servlet-mapping>
    <servlet-name>ModulearticleSvl</servlet-name>
    <url-pattern>/modulearticleSvl</url-pattern>
  </servlet-mapping>
     <!-- json 手机上使用的 业务流程-->
  <servlet-mapping>
    <servlet-name>workflowSvl</servlet-name>
    <url-pattern>/workflowSvl</url-pattern>
  </servlet-mapping>
   <!-- json 手机上使用的  流程上代办工单、已处理工单、已办结工单、所有工单-->
  <servlet-mapping>
    <servlet-name>worklistSvl</servlet-name>
    <url-pattern>/worklistSvl</url-pattern>
  </servlet-mapping>
  <!-- json 手机上使用的  流程上代办工单、已处理工单、已办结工单、所有工单 总数-->
  <servlet-mapping>
    <servlet-name>workcountSvl</servlet-name>
    <url-pattern>/workcountSvl</url-pattern>
  </servlet-mapping>
  <!-- json 手机上使用的  上传图片和保存经纬度 -->
  <servlet-mapping>
    <servlet-name>Photograph</servlet-name>
    <url-pattern>/photograph</url-pattern>
  </servlet-mapping>
    <!-- json 手机上使用的   根据时间数据查询经纬度 -->
  <servlet-mapping>
    <servlet-name>QueryTime</servlet-name>
    <url-pattern>/querytime</url-pattern>
  </servlet-mapping>
   <!-- json 手机上使用的   手机上传附件的Action -->
  <servlet-mapping>
    <servlet-name>UploadFileAction</servlet-name>
    <url-pattern>/uploadfileAction</url-pattern>
  </servlet-mapping>
    <!-- 手机删除附件的服务 -->
  <servlet-mapping>
    <servlet-name>DeleteFileAction</servlet-name>
    <url-pattern>/deletefileaction</url-pattern>
  </servlet-mapping>
   <!-- 手机  下载或查看 附件 -->
  <servlet-mapping>
    <servlet-name>DownLoadFileAction</servlet-name>
    <url-pattern>/downloadfileaction</url-pattern>
  </servlet-mapping>
     <!-- 手机  对应表单的附件；类别-->
  <servlet-mapping>
    <servlet-name>NumberFileAction</servlet-name>
    <url-pattern>/numberfileaction</url-pattern>
  </servlet-mapping>
    <!-- json 手机上使用的   根据id 获取创建一条表单记录并返回lsh-->
  <servlet-mapping>
    <servlet-name>DyformTestSvl</servlet-name>
    <url-pattern>/dyformtestSvl</url-pattern>
  </servlet-mapping>
  <!-- json 手机上使用的   根据id 获取查询历史列表-->
  <servlet-mapping>
    <servlet-name>DyformQuery</servlet-name>
    <url-pattern>/dyformquery</url-pattern>
  </servlet-mapping>
   <!-- flex 上使用的   上传图片的方法-->
  <servlet-mapping>
    <servlet-name>PhUploadimageAction</servlet-name>
    <url-pattern>/uploadimageaction</url-pattern>
  </servlet-mapping>
   <!-- 解析手机的配置信息服务-->
  <servlet-mapping>
    <servlet-name>PhConfigService</servlet-name>
    <url-pattern>/phconfigservice</url-pattern>
  </servlet-mapping>
   <!--动态表单添加数据-->
  <servlet-mapping>
    <servlet-name>AddSvl</servlet-name>
    <url-pattern>/AddSvl</url-pattern>
  </servlet-mapping>
    <!--动态表单查询数据 -->
  <servlet-mapping>
    <servlet-name>QuerySvl</servlet-name>
    <url-pattern>/QuerySvl</url-pattern>
  </servlet-mapping>
    <!--动态表单修改数据-->
  <servlet-mapping>
    <servlet-name>UpdataSvl</servlet-name>
    <url-pattern>/UpdataSvl</url-pattern>
  </servlet-mapping>
    <!--动态表单删除数据-->
  <servlet-mapping>
    <servlet-name>DeleteSvl</servlet-name>
    <url-pattern>/DeleteSvl</url-pattern>
  </servlet-mapping>
   <!--更具fromcode和lsh 查找出这条表单记录-->
  <servlet-mapping>
    <servlet-name>ListingData</servlet-name>
    <url-pattern>/ListingData</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Queryform</servlet-name>
    <url-pattern>/Queryform</url-pattern>
  </servlet-mapping>
  <!--更具appname 获取到资源上扩展属性上的值-->
  <servlet-mapping>
    <servlet-name>ConfigurationAction</servlet-name>
    <url-pattern>/configurationaction</url-pattern>
  </servlet-mapping>
  <!-- 全部检索  -->
  <!--  全部的图片下载 -->
  <servlet-mapping>
    <servlet-name>Allimage</servlet-name>
    <url-pattern>/allimage</url-pattern>
  </servlet-mapping>
    <!--  上传照片人员的查询-->
  <servlet-mapping>
    <servlet-name>Personnel</servlet-name>
    <url-pattern>/personnel</url-pattern>
  </servlet-mapping>
      <!-- 商超查询 -->
  <servlet-mapping>
    <servlet-name>Querybranch</servlet-name>
    <url-pattern>/querybranch</url-pattern>
  </servlet-mapping>
   <!-- 手机唯一标识的登录 -->
  <servlet-mapping>
    <servlet-name>SoleRegister</servlet-name>
    <url-pattern>/soleregister</url-pattern>
  </servlet-mapping>
   <!-- 手机注册用户信息 -->
  <servlet-mapping>
    <servlet-name>RegeditMvl</servlet-name>
    <url-pattern>/regeditmvl</url-pattern>
  </servlet-mapping>
  <!-- 手机用户用户名和密码登录 -->
  <servlet-mapping>
    <servlet-name>LoginMvl</servlet-name>
    <url-pattern>/loginmvl</url-pattern>
  </servlet-mapping>
   <!-- 网点管理的数据列表查询 -->
  <servlet-mapping>
    <servlet-name>Querybranchlisting</servlet-name>
    <url-pattern>/querybranchlisting</url-pattern>
  </servlet-mapping>
  <!-- 可通过的下一个节点-->
  <servlet-mapping>
    <servlet-name>ListNextRouteActive</servlet-name>
    <url-pattern>/listnextrouteactive</url-pattern>
  </servlet-mapping>
    <!-- 可退回的所有节点-->
  <servlet-mapping>
    <servlet-name>ListNextBackActive</servlet-name>
    <url-pattern>/listnextbackactive</url-pattern>
  </servlet-mapping>
     <!-- 获得人员的细腻系-->
  <servlet-mapping>
    <servlet-name>LoadCfgActive</servlet-name>
    <url-pattern>/loadcfgactive</url-pattern>
  </servlet-mapping>
       <!-- 保存意见-->
  <servlet-mapping>
    <servlet-name>SaveAuditNote</servlet-name>
    <url-pattern>/saveauditnote</url-pattern>
  </servlet-mapping>
  <!-- 通过 或不通过 提交实际上是调用  -->
  <servlet-mapping>
    <servlet-name>NextByManual</servlet-name>
    <url-pattern>/nextbymanual</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GisPointSvl</servlet-name>
    <url-pattern>/GisPointSvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AllUserSvl</servlet-name>
    <url-pattern>/AllUserSvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LhTodaySvl</servlet-name>
    <url-pattern>/LhTodaySvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListPicSvl</servlet-name>
    <url-pattern>/ListPicSvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DyViewSvl</servlet-name>
    <url-pattern>/DyViewSvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WapViewSvl</servlet-name>
    <url-pattern>/servlet/WapViewSvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WapViewSingleSvl</servlet-name>
    <url-pattern>/servlet/WapViewSingleSvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyGroupSvl</servlet-name>
    <url-pattern>/MyGroupSvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeptSvl</servlet-name>
    <url-pattern>/DeptSvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MsgBodySvl</servlet-name>
    <url-pattern>/MsgBodySvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MsgSvl</servlet-name>
    <url-pattern>/MsgSvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MsgTipSvl</servlet-name>
    <url-pattern>/MsgTipSvl</url-pattern>
  </servlet-mapping>



</web-app>
