<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap      
    PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"      
    "http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="App">
	
	<!-- 动态SQL -->
	<select id="selectDySql" parameterClass="string" resultClass="java.util.HashMap" remapResults="true">
		$sql$
	</select>
	
	<!-- 查询所有网点 -->
	<select id="selectNetpointInfoPage" parameterClass="java.util.Map" resultClass="java.util.HashMap">
		SELECT 
			*
		FROM dyform.DY_961338295639576 
		where 1=1
		<isNotEmpty prepend="and" property="netName">
			column5 like '%$netName$%'
		</isNotEmpty>
		<isNotEmpty prepend="and" property="createPerson">
			column13 like '%$createPerson$%'
		</isNotEmpty>
		$sortCondition$
		limit #startIndex#,#pageSize#
	</select>
	
	<!-- 查询所有网点 -->
	<select id="selectNetpointInfoPageCount" parameterClass="java.util.Map" resultClass="int">
		SELECT 
			ifnull(count(*),0) as count
		FROM dyform.DY_961338295639576
		where 1=1
		<isNotEmpty prepend="and" property="netName">
			column5 like '%$netName$%'
		</isNotEmpty>
		<isNotEmpty prepend="and" property="createPerson">
			column13 like '%$createPerson$%'
		</isNotEmpty>
	</select>
	
	<!-- 查询所有网点 -->
	<select id="selectNetpointInfo" parameterClass="java.util.Map" resultClass="java.util.HashMap">
		SELECT 
			lsh lsh,
			ifnull(column5,'') netName
		FROM dyform.DY_961338295639576 t
		where 1=1
		<isNotEmpty prepend="and" property="netName">
			column5 like '%$netName$%'
		</isNotEmpty>
		<isNotEmpty prepend="and" property="createPerson">
			t.column13 like '%$createPerson$%'
		</isNotEmpty>
		order by column5
	</select>
	
	<!-- 查询某个网点 按时间点 -->
	<select id="selectNetpointDate" parameterClass="java.util.Map" resultClass="java.util.HashMap">
		SELECT 
			DISTINCT DATE(t.column12) createDate,
			t.lsh lsh,
			IFNULL(t.column13,'') createPerson,
			IFNULL(t.column16,'') AS POINT,
			IFNULL(t2.column5,'') netName,
			COUNT(*) AS total
		FROM dyform.DY_211340244752515 t
		LEFT JOIN dyform.DY_961338295639576 t2 ON t2.lsh=t.fatherlsh
		where 1=1 and t.column12 IS NOT NULL and t.fatherlsh = #fatherlsh#
		<isNotEmpty prepend="and" property="beginDate">
			date(t.column12) &gt;= #beginDate#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="endDate">
			date(t.column12) &lt;= #endDate#
		</isNotEmpty>
		group by netName,createDate
		order by netName,createDate desc
	</select>
	
	<!-- 查询某个网点 按品牌 -->
	<select id="selectNetpointPP" parameterClass="java.util.Map" resultClass="java.util.HashMap">
		SELECT 
			ifnull(t3.column3,'') ppid,
			ifnull(t3.column4,'') ppname
		FROM dyform.DY_211340244752515 t
		LEFT JOIN dyform.DY_961338295639576 t2 ON t2.lsh=t.fatherlsh
		LEFT JOIN dyform.DY_171345119981583 t3 ON t3.column3=t.column15
		where 1=1 and t.column12 IS NOT NULL and t3.column4 is not null
		
		<isNotEmpty prepend="and" property="fatherlsh">
			t.fatherlsh = #fatherlsh#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="beginDate">
			date(t.column12) &gt;= #beginDate#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="endDate">
			date(t.column12) &lt;= #endDate#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="netName">
			t2.column5 like '%$netName$%'
		</isNotEmpty>
		<isNotEmpty prepend="and" property="ppname">
			t3.column4 like '%$ppname$%'
		</isNotEmpty>
		<isNotEmpty prepend="and" property="createPerson">
			t.column13 like '%$createPerson$%'
		</isNotEmpty>
		<isNotEmpty prepend="and" property="point">
			t.column16 = #point#
		</isNotEmpty>
		group by ppname
		order by ppname
	</select>
	
	<!-- 查询某个网点 按时间 -->
	<select id="selectNetpointTime" parameterClass="java.util.Map" resultClass="java.util.HashMap">
		SELECT 
			ifnull(date(t.column12),'') times
		FROM dyform.DY_211340244752515 t
		LEFT JOIN dyform.DY_961338295639576 t2 ON t2.lsh=t.fatherlsh
		LEFT JOIN dyform.DY_171345119981583 t3 ON t3.column3=t.column15
		where 1=1 and t.column12 IS NOT NULL 
		
		<isNotEmpty prepend="and" property="fatherlsh">
			t.fatherlsh = #fatherlsh#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="beginDate">
			date(t.column12) &gt;= #beginDate#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="endDate">
			date(t.column12) &lt;= #endDate#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="netName">
			t2.column5 like '%$netName$%'
		</isNotEmpty>
		<isNotEmpty prepend="and" property="ppname">
			t3.column4 like '%$ppname$%'
		</isNotEmpty>
		<isNotEmpty prepend="and" property="createPerson">
			t.column13 like '%$createPerson$%'
		</isNotEmpty>
		<isNotEmpty prepend="and" property="point">
			t.column16 = #point#
		</isNotEmpty>
		group by times
		order by times
	</select>
	
	<!-- 查询某个网点 按网点 -->
	<select id="selectNetpointNet" parameterClass="java.util.Map" resultClass="java.util.HashMap">
		SELECT 
			ifnull(t2.column5,'') netname
		FROM dyform.DY_211340244752515 t
		LEFT JOIN dyform.DY_961338295639576 t2 ON t2.lsh=t.fatherlsh
		LEFT JOIN dyform.DY_171345119981583 t3 ON t3.column3=t.column15
		where 1=1 and t.column12 IS NOT NULL 
		
		<isNotEmpty prepend="and" property="fatherlsh">
			t.fatherlsh = #fatherlsh#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="beginDate">
			date(t.column12) &gt;= #beginDate#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="endDate">
			date(t.column12) &lt;= #endDate#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="netName">
			t2.column5 like '%$netName$%'
		</isNotEmpty>
		<isNotEmpty prepend="and" property="ppname">
			t3.column4 like '%$ppname$%'
		</isNotEmpty>
		<isNotEmpty prepend="and" property="createPerson">
			t.column13 like '%$createPerson$%'
		</isNotEmpty>
		<isNotEmpty prepend="and" property="point">
			t.column16 = #point#
		</isNotEmpty>
		group by netname
		order by netname
	</select>
	
	<!-- 查询网点理货信息 -->
	<select id="selectNetpoint" parameterClass="java.util.Map" resultClass="java.util.HashMap">
		SELECT 
			t.lsh lsh,
			ifnull(t.column12,'') createDate,
			ifnull(t.column13,'') createPerson,
			ifnull(t.column16,'') as point,
			ifnull(t3.column4,'') ppname,
			ifnull(t2.column5,'') netName,
			ifnull(files.address,'') address,
			files.unid as fileunid
		FROM dyform.DY_211340244752515 t
		LEFT JOIN dyform.DY_961338295639576 t2 ON t2.lsh=t.fatherlsh
		LEFT JOIN dyform.DY_171345119981583 t3 ON t3.column3=t.column15
		LEFT JOIN iss.t_file files ON files.d_unid=t.lsh
		where 1=1
		<isNotEmpty prepend="and" property="queryDate">
			date(t.column12) = #queryDate#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="fatherlsh">
			t2.lsh = #fatherlsh#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="ppid">
			t3.column3 = #ppid#
		</isNotEmpty>
		
		<isNotEmpty prepend="and" property="beginDate">
			date(t.column12) &gt;= #beginDate#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="endDate">
			date(t.column12) &lt;= #endDate#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="netName">
			t2.column5 like '%$netName$%'
		</isNotEmpty>
		<isNotEmpty prepend="and" property="ppname">
			t3.column4 like '%$ppname$%'
		</isNotEmpty>
		<isNotEmpty prepend="and" property="createPerson">
			t.column13 like '%$createPerson$%'
		</isNotEmpty>
		<isNotEmpty prepend="and" property="point">
			t.column16 = #point#
		</isNotEmpty>
		order by netName,createDate,ppname
		limit #startIndex#,#pageSize#
	</select>
	
	<!-- 查询网点理货信息 计数-->
	<select id="selectNetpointCount" parameterClass="java.util.Map" resultClass="int">
	
		SELECT 
			IFNULL(count(*),0) as v
		FROM dyform.DY_211340244752515 t
		LEFT JOIN dyform.DY_961338295639576 t2 ON t2.lsh=t.fatherlsh
		LEFT JOIN dyform.DY_171345119981583 t3 ON t3.column3=t.column15
		LEFT JOIN iss.t_file files ON files.d_unid=t.lsh
		where 1=1
		<isNotEmpty prepend="and" property="queryDate">
			date(t.column12) = #queryDate#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="fatherlsh">
			t2.lsh = #fatherlsh#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="ppid">
			t3.column3 = #ppid#
		</isNotEmpty>
		
		<isNotEmpty prepend="and" property="beginDate">
			date(t.column12) &gt;= #beginDate#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="endDate">
			date(t.column12) &lt;= #endDate#
		</isNotEmpty>
		<isNotEmpty prepend="and" property="netName">
			t2.column5 like '%$netName$%'
		</isNotEmpty>
		<isNotEmpty prepend="and" property="ppname">
			t3.column4 like '%$ppname$%'
		</isNotEmpty>
		<isNotEmpty prepend="and" property="createPerson">
			t.column13 like '%$createPerson$%'
		</isNotEmpty>
		<isNotEmpty prepend="and" property="point">
			t.column16 = #point#
		</isNotEmpty>
	</select>
	
	<!-- 更新网点理货评分 -->
	<update id="updateNetPoint" parameterClass="java.util.Map">
		update dyform.DY_211340244752515 set column16=#point# where LSH=#lsh#
	</update>
	
<!-- 导出手机理货分析  -->
	<select id="export_PH" resultClass="java.util.HashMap" parameterClass="java.util.HashMap">
			SELECT
				hh.outletsId outletsId,
				dy1.column5 outletsName,
				hh.brandId brandId,
				dy2.column4 brandName,
				IFNULL(tt.ywybm,'') ywybm,
				IFNULL(tt.ywyname,'') ywyname,
				IFNULL(SUM(tt.week1),0) w1,IFNULL(SUM(tt.fz1),0) f1,
				IFNULL(SUM(tt.week2),0) w2,IFNULL(SUM(tt.fz2),0) f2,
				IFNULL(SUM(tt.week3),0) w3,IFNULL(SUM(tt.fz3),0) f3,
				IFNULL(SUM(tt.week4),0) w4,IFNULL(SUM(tt.fz4),0) f4,
				IFNULL(SUM(tt.week5),0) w5,IFNULL(SUM(tt.fz5),0) f5,
				IFNULL(SUM(tt.week6),0) w6,IFNULL(SUM(tt.fz6),0) f6,
				IFNULL(SUM(tt.week7),0) w7,IFNULL(SUM(tt.fz7),0) f7,
				IFNULL(COUNT(tt.times),'') totalx, 
				SUM(hh.times * (WEEK('$endDate$')-WEEK('$beginDate$')+1)) timesx,
				IFNULL((SUM(tt.fz1)+SUM(tt.fz2)+SUM(tt.fz3)+SUM(tt.fz4)+SUM(tt.fz5)+SUM(tt.fz6)+SUM(tt.fz7) ),0) totalf
				FROM iss.t_tallyconfig hh
				LEFT JOIN (
				SELECT
				t.lsh lsh576,t.column5 wdmc,IFNULL(us.name,'') ywyname,IFNULL(t1.PARTICIPANT,'') ywybm,IFNULL(t1.column15,'') px,
				IFNULL(t2.column4,'') pxm,IFNULL(t1.timex,'') times,t2.lsh brandId,
				CASE WHEN DAYOFWEEK(DATE(t1.timex))=2 THEN COUNT(DISTINCT DATE(t1.TIMEX))ELSE '' END week1,
				CASE WHEN DAYOFWEEK(DATE(t1.timex))=3 THEN COUNT(DISTINCT DATE(t1.TIMEX))ELSE '' END week2,
				CASE WHEN DAYOFWEEK(DATE(t1.timex))=4 THEN COUNT(DISTINCT DATE(t1.TIMEX))ELSE '' END week3,
				CASE WHEN DAYOFWEEK(DATE(t1.timex))=5 THEN COUNT(DISTINCT DATE(t1.TIMEX))ELSE '' END week4,
				CASE WHEN DAYOFWEEK(DATE(t1.timex))=6 THEN COUNT(DISTINCT DATE(t1.TIMEX))ELSE '' END week5,
				CASE WHEN DAYOFWEEK(DATE(t1.timex))=7 THEN COUNT(DISTINCT DATE(t1.TIMEX))ELSE '' END week6,
				CASE WHEN DAYOFWEEK(DATE(t1.timex))=1 THEN COUNT(DISTINCT DATE(t1.TIMEX))ELSE '' END week7,
				CASE WHEN DAYOFWEEK(DATE(t1.timex))=2 AND IFNULL(t1.column16,0)='1' THEN IFNULL(t1.column16,0) ELSE 0 END fz1,
				CASE WHEN DAYOFWEEK(DATE(t1.timex))=3 AND IFNULL(t1.column16,0)='1' THEN IFNULL(t1.column16,0) ELSE 0 END fz2,
				CASE WHEN DAYOFWEEK(DATE(t1.timex))=4 AND IFNULL(t1.column16,0)='1' THEN IFNULL(t1.column16,0) ELSE 0 END fz3,
				CASE WHEN DAYOFWEEK(DATE(t1.timex))=5 AND IFNULL(t1.column16,0)='1' THEN IFNULL(t1.column16,0) ELSE 0 END fz4,
				CASE WHEN DAYOFWEEK(DATE(t1.timex))=6 AND IFNULL(t1.column16,0)='1' THEN IFNULL(t1.column16,0) ELSE 0 END fz5,
				CASE WHEN DAYOFWEEK(DATE(t1.timex))=7 AND IFNULL(t1.column16,0)='1' THEN IFNULL(t1.column16,0) ELSE 0 END fz6,
				CASE WHEN DAYOFWEEK(DATE(t1.timex))=1 AND IFNULL(t1.column16,0)='1' THEN IFNULL(t1.column16,0) ELSE 0 END fz7
			FROM dyform.DY_961338295639576 t
			LEFT JOIN dyform.DY_211340244752515 t1 ON t.LSH = t1.FATHERLSH
			LEFT JOIN dyform.DY_171345119981583 t2 ON t1.column15 = t2.column3
			LEFT JOIN netone.t_cs_user us ON t1.PARTICIPANT = us.USERCODE
			WHERE 1=1 
				<isNotEmpty property="beginDate" prepend="and">
			 		DATE(t1.TIMEX) >= #beginDate#
			 	</isNotEmpty>
			 	<isNotEmpty property="endDate" prepend="and">
			 		DATE(t1.TIMEX) &lt;= #endDate#
			 	</isNotEmpty>
			 	<isNotEmpty property="wdms" prepend="and">
			 		t.lsh =#wdms#
			 	</isNotEmpty> 
			 	<isNotEmpty property="clientId" prepend="and">
			 		t1.PARTICIPANT =#clientId#
			 	</isNotEmpty> 
			 	<isNotEmpty property="px" prepend="and">
			 		t1.column15 =#px#
			 	</isNotEmpty> 
			GROUP BY ywybm,lsh576,px,DATE(t1.TIMEX)
			ORDER BY ywybm,lsh576,px,t1.TIMEX DESC 
			) AS tt ON hh.outletsId = tt.lsh576 AND hh.brandId=tt.brandId
			LEFT JOIN dyform.DY_961338295639576 dy1 ON dy1.LSH = hh.outletsId
			LEFT JOIN dyform.DY_171345119981583 dy2 ON dy2.LSH = hh.brandId
		GROUP BY $sb$
		ORDER BY hh.outletsId,hh.brandId DESC
	</select>

	
	<!-- 网点配置 -->
	<!-- 加载品牌信息 -->
	<select id="findProInfo"  resultClass="java.util.HashMap">
		SELECT lsh lshId,column3 proCode,column4 proName 
		FROM  dyform.DY_171345119981583
		ORDER BY column3 desc
	</select>
	
	<!-- 加载网点、理货员、频率 -->
	<select id="findOutletSetByLshId" parameterClass="java.util.Map" resultClass="java.util.HashMap">
		SELECT t.lsh tallId,
			t.outletsId outletsId,wd.column5 outletsName,
			t.brandId brandId,px.column4 brandName,
			t.usercode userCode,uc.userName userName,
			t.times times,t.status statusx,concat(t.createdDate,'') creadDate,t.note note,t.operate operate
		FROM iss.t_tallyconfig t
		LEFT JOIN dyform.DY_961338295639576 wd ON t.outletsId = wd.lsh
		LEFT JOIN dyform.DY_171345119981583 px ON t.brandId = px.lsh
		LEFT JOIN iss.t_user uc ON t.usercode = uc.userCode
		WHERE 1=1
			<isNotEmpty property="lshId" prepend="and">
				brandId = #lshId#
			</isNotEmpty>
			<isNotEmpty property="condition" prepend="and">
				(wd.column5 like '%$condition$%' or
				px.column4 like '%$condition$%'
				or t.times like '%$condition$%' )
				<!-- 
				 or
				t.note like '%$condition$%' or
				t.createdDate like '%$condition$%' or
				t.operate like '%$condition$%'
				 -->
			</isNotEmpty>	
	</select>

	<!-- 加载未选择网点信息 -->
	<select id="findUnChooseOutLetsByLshId" parameterClass="java.util.HashMap" resultClass="java.util.HashMap">
		SELECT lsh outId,column5 outName
		FROM dyform.DY_961338295639576
		WHERE lsh NOT IN(
			SELECT outletsId
			FROM iss.t_tallyconfig 
			WHERE brandId=#lshId#
		) and column5 like '%$name$%'
	</select>
	<!-- 插入网点 次数 备注 等信息 -->
	<insert id="insertBatchOutletsTimes" parameterClass="java.util.Map">
		<selectKey resultClass="java.lang.String" keyProperty="lsh" type="pre">
			SELECT REPLACE(UUID(),'-','') as lsh
		</selectKey>
			INSERT INTO iss.t_tallyconfig(lsh,outletsId,brandId,times,status,createdDate,note,operate)
			VALUES(
				#lsh#,
				#outletsId#,
				#brandId#,
				#times#,
				#statusx#,
				#createdDate#,
				#note#,
				#operate#
				)
	</insert>
	
	<!-- 更新频率 单个 -->
	<update id="updateOutletsTimes" parameterClass="java.util.Map">
			UPDATE iss.t_tallyconfig  SET
			<isNotEmpty property="times">
				times=#times#,
			</isNotEmpty>	
			<isNotEmpty property="note">
				note=#note#,
			</isNotEmpty>
				createdDate=#createdDate#,
				operate=#operate#
			WHERE lsh=#tallId#
	</update>
	
	<!-- 批量删除网点信息 -->
	<delete id="deleteOutlets" parameterClass="java.lang.String">
      	DELETE FROM iss.t_tallyconfig WHERE lsh=#tallId#
	</delete>
	
	<!-- 导出网点配置信息 -->
	<select id="export_outlets" resultClass="java.util.HashMap">
		SELECT t.lsh tallId,
			t.outletsId outletsId,IFNULL(wd.column5,'') outletsName,
			t.brandId brandId,IFNULL(px.column4,'') brandName,
			t.usercode userCode,uc.userName userName,
			IFNULL(t.times,0) times,
			CASE WHEN t.status = 1 THEN '启用' ELSE '禁用' END statusx,
			t.createdDate creadDate,
			IFNULL(t.note,'') note,
			t.operate operate
		FROM iss.t_tallyconfig t
		LEFT JOIN dyform.DY_961338295639576 wd ON t.outletsId = wd.lsh
		LEFT JOIN dyform.DY_171345119981583 px ON t.brandId = px.lsh
		LEFT JOIN iss.t_user uc ON t.usercode = uc.userCode
		WHERE 1=1
		<isNotEmpty property="lshId" prepend="and">
		 t.brandId = #lshId#
		</isNotEmpty>
		
		<isNotEmpty prepend="and" property="tallId">
			 t.lsh  in 
			<iterate property="tallId" open="(" close=")" conjunction=",">
				#tallId[]#
			</iterate>
		</isNotEmpty>
		ORDER BY brandId,creadDate 
	</select>
	
</sqlMap>