v\:* { Behavior: url(#default#VML) }
/*////////静态活动的颜色////////////*/
.static00{background-color:#DDDDDD;background-image:url(../../../image/wf/staticActSuba.gif)}/*异步子流程*/
.static01{background-color:#BBBBBB;background-image:url(../../../image/wf/staticAct.gif)}/*普通活动-带工具*/
.static02{background-color:#BBBBBB;background-image:url(../../../image/wf/staticAct.gif)}/*普通活动*/
.static03{background-color:#EEEEEE;background-image:url(../../../image/wf/staticActRoute.gif)}/*空活动*/
.static04{background-color:#DDDDDD;background-image:url(../../../image/wf/staticActSub.gif)}/*同步子流程*/

/*////////动态异步子流程活动的颜色/////////*/
.dynamic0001{background-color:#FF3399;background-image:url(../../../image/wf/dynRunActSuba.gif)}/*运行中*/
.dynamic0002{background-color:#6666FF;background-image:url(../../../image/wf/dynEndActSuba.gif)}/*完毕*/
.dynamic0003{background-color:#FFFF33;background-image:url(../../../image/wf/dynExceptionActSuba.gif)}/*异常*/
.dynamic0004{background-color:#CC66FF;background-image:url(../../../image/wf/dynExceptionActSuba.gif)}/*取消*/
.dynamic0005{background-color:#FFFFFF;background-image:url(../../../image/wf/dynExceptionActSuba.gif)}/*忽略*/
.dynamic0006{background-color:#FFCC00;background-image:url(../../../image/wf/dynStopActSuba.gif)}/*等待*/
.dynamic0007{background-color:#FFCC00;background-image:url(../../../image/wf/dynStopActSuba.gif)}/*暂停*/
/*////////动态节点活动的颜色/////////*/
.dynamic0201{background-color:#FF3399;background-image:url(../../../image/wf/dynRunAct.gif)}/*运行中*/
.dynamic0202{background-color:#6666FF;background-image:url(../../../image/wf/dynEndAct.gif)}/*完毕*/
.dynamic0203{background-color:#FFFF33;background-image:url(../../../image/wf/dynExceptionAct.gif)}/*异常*/
.dynamic0204{background-color:#CC66FF;background-image:url(../../../image/wf/dynExceptionAct.gif)}/*取消*/
.dynamic0205{background-color:#FFFFFF;background-image:url(../../../image/wf/dynExceptionAct.gif)}/*忽略*/
.dynamic0206{background-color:#FFCC00;background-image:url(../../../image/wf/dynStopAct.gif)}/*等待*/
.dynamic0207{background-color:#FFCC00;background-image:url(../../../image/wf/dynStopAct.gif)}/*暂停*/
/*////////动态节点活动的颜色/////////*/
.dynamic0101{background-color:#FF3399;background-image:url(../../../image/wf/dynRunAct.gif)}/*运行中*/
.dynamic0102{background-color:#6666FF;background-image:url(../../../image/wf/dynEndAct.gif)}/*完毕*/
.dynamic0103{background-color:#FFFF33;background-image:url(../../../image/wf/dynExceptionAct.gif)}/*异常*/
.dynamic0104{background-color:#CC66FF;background-image:url(../../../image/wf/dynExceptionAct.gif)}/*取消*/
.dynamic0105{background-color:#FFFFFF;background-image:url(../../../image/wf/dynExceptionAct.gif)}/*忽略*/
.dynamic0106{background-color:#FFCC00;background-image:url(../../../image/wf/dynStopAct.gif)}/*等待*/
.dynamic0107{background-color:#FFCC00;background-image:url(../../../image/wf/dynStopAct.gif)}/*暂停*/
/*////////动态异步空活动的颜色/////////*/
.dynamic0301{background-color:#FF3399;background-image:url(../../../image/wf/dynRunActRoute.gif)}/*运行中*/
.dynamic0302{background-color:#6666FF;background-image:url(../../../image/wf/dynEndActRoute.gif)}/*完毕*/
.dynamic0303{background-color:#FFFF33;background-image:url(../../../image/wf/dynExceptionActRoute.gif)}/*异常*/
.dynamic0304{background-color:#CC66FF;background-image:url(../../../image/wf/dynExceptionActRoute.gif)}/*取消*/
.dynamic0305{background-color:#FFFFFF;background-image:url(../../../image/wf/dynExceptionActRoute.gif)}/*忽略*/
.dynamic0306{background-color:#FFCC00;background-image:url(../../../image/wf/dynStopActRoute.gif)}/*等待*/
.dynamic0307{background-color:#FFCC00;background-image:url(../../../image/wf/dynStopActRoute.gif)}/*暂停*/
/*////////动态同步子流程的颜色/////////*/
.dynamic0401{background-color:#FF3399;background-image:url(../../../image/wf/dynRunActSub.gif)}/*运行中*/
.dynamic0402{background-color:#6666FF;background-image:url(../../../image/wf/dynEndActSub.gif)}/*完毕*/
.dynamic0403{background-color:#FFFF33;background-image:url(../../../image/wf/dynExceptionActSub.gif)}/*异常*/
.dynamic0404{background-color:#CC66FF;background-image:url(../../../image/wf/dynExceptionActSub.gif)}/*取消*/
.dynamic0405{background-color:#FFFFFF;background-image:url(../../../image/wf/dynExceptionActSub.gif)}/*忽略*/
.dynamic0406{background-color:#FFCC00;background-image:url(../../../image/wf/dynStopActSub.gif)}/*等待*/
.dynamic0407{background-color:#FFCC00;background-image:url(../../../image/wf/dynStopActSub.gif)}/*暂停*/
/*////////转折点样式/////////*/
.turningpoint{BORDER-RIGHT:  0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid;height:26; width:26;BORDER-BOTTOM:0px solid; background-image:url(../../../image/wf/turning.png); background-repeat: no-repeat; cursor:hand}
/*活动的开始，结束*/
.end{FONT-SIZE:13;COLOR:#CC3366;WORD-BREAK:-all;FONT-FbreakAMILY:黑体;background-image:url(../../../image/wf/end.gif);}
.start{FONT-SIZE:13;COLOR:#CC3366;WORD-BREAK:-all;FONT-FbreakAMILY:黑体;background-image:url(../../../image/wf/start.gif);}

.trackbut{
	cursor: hand;
	background-image: url(../../../image/bnbk07.gif);
	height:25px;
}